@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Micro+5&family=Outfit:wght@100..900&display=swap');

.jacquard-12-regular {
  font-family: "Jacquard 12", serif;
  font-weight: 400;
  font-style: normal;
}

.micro-5-regular {
  font-family: "Micro 5", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.micro-5-small {
  font-family: "Micro 5", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

.outfit-regular {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(36, 36, 36);
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.animated{
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.homeContainer{
  display: flex;
  width: 100vw;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.homeH2{
  font-size: 100px;
  transition: 0.3s;
  padding: 0;
  margin: 0;
}

.homeH2:hover{
  font-size: 110px;
  transition: 0.3s;
  /*animation: shake infinite 0.8s;
  animation-fill-mode: forwards;*/
}

.infoH2{
  font-size: 30px;
  transition: 5s;
  padding: 0;
  margin: 0;
}

.infoH2:hover{
  font-size: 40px;
  transition: 2s;
  /*animation: shake infinite 0.8s;
  animation-fill-mode: forwards;*/
}

.zoomAnimation{
  transition: 1s;
}

.transactions2{
  background-color: rgb(69, 69, 69);
  margin: 5px;
  padding: 5px;
}

.zoomAnimation:hover{
  text-shadow: rgb(253, 255, 188) 0px 0px 25px;
  color: rgb(255, 234, 223);
  transform: scale(1.1);
  transition: 0.1s;
}

.zoomAnimationNoColor{
  transition: 1s;
}

.zoomAnimationBorder:hover{
  border: solid 2px rgb(255, 234, 223);
}

.username{
  font-size: small;
}

.zoomAnimationNoColor:hover{
  transform: scale(1.1);
  transition: 0.1s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.navbar{
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.navbardivideHome{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbardivideOptions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navbardivideOptions p{
  margin: 0px 30px 0px 30px;
}

.mapComponent{
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cordDiv{
  display: flex;
  flex-direction: row;
}

.hidden{
  display: none;
}

.authBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

.authForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: rgb(44, 44, 44);
  border-radius: 10px;
}

.loginButton{
  margin-top: 20px;
  width: 100px;
  background-color: rgb(50, 50, 50);
  border: solid 2px rgba(255, 255, 255, 0.097);
  color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  transition: 0.5s;
}

.signUpButton{
  margin-top: 20px;
  width: 100px;
  background-color: rgb(206, 206, 206);
  border: solid 3px rgb(146, 145, 145);
  color: rgb(55, 55, 55);
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  transition: 0.5s;
}

.backToLogIn{
  margin-top: 20px;
  width: 100px;
  background-color: rgb(50, 50, 50);
  border: solid 2px rgba(255, 255, 255, 0.097);
  color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  transition: 0.5s;
}

.inventoryContainer{
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px
}

.inventoryDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 2px white;
  padding: 10px;
  font-size: 0.7em
}

.infoDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.descDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inventoryInfoP{
  font-size: 2em;
  text-decoration: underline;
  margin: auto;
}

.inventoryInfoAmount{
  font-size: 1.5em;
  margin: auto;
}

.formLogoInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actionButton{
  border: solid 2px white;
  background-color: green;
  color: white;
}

.actionButton:hover{
  border: solid 2px green;
  background-color: white;
  color: green;
}

.userContainer{
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}